* {
    margin: 0;
    padding: 0;
  }
  
  body {
    margin: 0;
  }
  
  :root {
    --index: calc(1vw + 1vh); 
  }
  
  @media (max-width: 760px) {
    .foter__container{
      height: 100vh !important;
    }
  }
  
  @media (min-width: 761px) {
    .foter__container{
      height: 30vh !important;
    }
  }
  
  .fullpage__container {
    scroll-snap-type: y proximity;
    overflow-y: scroll;
    display: block;
    height: 100vh;
    width: 100vw;
    scroll-behavior: smooth;
  }
  
  .fullpage__container > scroll-page {
    display: block;
    height: 100vh;
    width: 100%;
    scroll-snap-align: start;
  }