@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap%27');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
    --index: calc(1vw + 1vh); 
}

@media (max-width: 760px) {
    .portfolio__circuit_left{
        opacity: 0.15;
    }
    .portfolio__circuit_right{
        opacity: 0.15;
    }

	.portfolio__header__text{
		font-size: calc(var(--index) * 1.5) !important;
		margin-bottom: 20px;
	}

	.portfolio-card__container{
		height: calc(var(--index) * 30) !important;
		width: calc(var(--index) * 27) !important;
		padding: calc(var(--index) * 1);

	}
}

@media (min-width: 1000px) {
	.portfolio__header__text{
		font-size: calc(var(--index) * 1.5) !important;
		margin-bottom: calc(var(--index) * 1.7);
		/* contact__title__line */
	}

	.control-prev{
		margin-left: calc(var(--index) * 10) !important;
	}
	.control-next{
		margin-right: calc(var(--index) * 10) !important;
	}
	.portfolio-card__container{
		height: calc(var(--index) * 20) !important;
		width: calc(var(--index) * 27) !important;
	}
	.rhap_container {
		padding: calc(var(--index) * 2) calc(var(--index) * 1);
	}
}

@media (min-width: 1600px){
	.portfolio__header__text{
		font-size: calc(var(--index) * 1.5) !important;
	}

	.rhap_container {
		display: flex;
		justify-content: center;
		padding: calc(var(--index) * 2.6) calc(var(--index) * 0.1);
	}
}

@keyframes animation-text{
	0% {opacity: 0.3;}
	50% {opacity: 1;}
	100% {opacity: 0.3;}
}

.carousel-root {
	height: 100%;
}

.carousel-slider {
	height: 100%;
}

.control-arrow:before {
	border-color: transparent !important;
}

.control-arrow {
	border: none !important;
	background-position: center !important;
	background-repeat: no-repeat !important;
	width: calc(var(--index) * 5) !important;
	height: calc(var(--index) * 5) !important;
	margin-top: calc(var(--index) * 10) !important;
	border-radius: calc(var(--index) * 5);
}

.control-next {
	background-image: url("/arrowRight.svg") !important;
	background-position: center center;
	background-size: calc(var(--index) * 2) !important;
	animation: animation-text 3s infinite;
}

.control-prev {
	background-image: url("/arrowLeft.svg") !important;
	background-position: center center;
	background-size: calc(var(--index) * 2) !important;
	animation: animation-text 3s infinite;
}

.control-dots{
	margin-bottom: calc(var(--index) * 8) !important;
}

.portfolio__container {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100vh;
	z-index: 1;
}

.portfolio__background {
	position: absolute;
	width: 100%;
	height: 100vh;
	top: 0;
	background: linear-gradient(180deg, #060004 0%, #0E162A 57.29%, #212E46 100%);
}

.portfolio__header {
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100%;
	height: auto;
	margin-bottom: 30px;
}

.portfolio__header > h2 {
	color: white;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	transform: translate(0, 100%);
	font-weight: 700;
	font-size: 30px;
}

.portfolio__content {
	width: 100%;
	flex: 1;
	position: relative;
}

.portfolio__circuit {
	height: 100%;
	width: 250px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.portfolio__circuit_left {
	position: absolute;
	left: 0;
	width: 200px;
	background-image: url("/left.svg");
	
}

.portfolio__circuit_right {
	position: absolute;
	right: 0;
	background-image: url("/portfolio_right_circuits.svg");
}

.portfolio__header__line {
	width: 100%;
	height: 60px;
	background-image: url("/portfolio_headerline.svg");
	background-repeat: no-repeat;
	background-size: contain;
}

.portfolio-card__title{
	height: calc(var(--index) * 3) !important;
}

.portfolio-card__title h3{
	display: flex;
	justify-content: center;
	font-size: calc(var(--index) * 1.3) !important;
	white-space: nowrap;
}

.rhap_main-controls-button{
	height: calc(var(--index) * 3) !important;
	width: calc(var(--index) * 3) !important;
	
}

.music_custom-title__container .author{
	font-size: calc(var(--index) * 10.1) !important;
}

.rhap_controls-section{
	align-items: normal;
	justify-content: left;
	float: left;
}