@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

:root {
  --index: calc(1vw + 1vh);
}

@keyframes animation-text{
  0% {opacity: 0.3;}
  50% {opacity: 1;}
  100% {opacity: 0.3;}
}

@media (max-width: 760px) {
  .header__logo__desctop{
    display: none;
  }

  .header__logo img{
    height: calc(var(--index) * 8);
    width: calc(var(--index) * 13);
  }

  header nav{
    text-align: right;
    text-indent: calc(var(--index) * 3);
    line-height: calc(var(--index) * 2);
  }
}

@media (min-width: 761px) {
  .header__logo__mobile{
    display: none;
  }

  .header__logo img{
    height: calc(var(--index) * 5);
    width: calc(var(--index) * 20);
  }

  header nav{
    text-align: right;
    text-indent: calc(var(--index) * 2);
    line-height: calc(var(--index) * 2);
  }
}

.main__component{
  background-image: url(/main-section-bg.jpg);
  background-position: center center;
  background-size: cover;
  font-family: "Montserrat", sans-serif;
  color: white;

  z-index: 0;
  height: 100vh;
}

header{
  text-align: justify;
  align-items: center;
  letter-spacing: 1px;
  height: 11em;
  padding: calc(var(--index) * 4) 5%;
  display: flex;
}

header nav ul li{
  display: inline-block;
}

header a{
  transition: 0.8s;

  font-weight: 800;
  font-size: calc(var(--index) * 1);
  cursor: pointer;
}

header a:hover{
  transition: 0.8s;

  color: rgb(85, 157, 240);
  box-shadow: 
  0 0 7px 1px rgb(85, 157, 240);
  border-radius: 10px;
  padding: 7px;
}

.main_container{
  margin-top: calc(var(--index) * 7.5);
  text-align: center;
}

.content{
  font-size: calc(var(--index) * 1.5);
  letter-spacing: calc(var(--index) * 0.2);;
}

.subtext{
  
  font-size: calc(var(--index) * 0.82);
}

.button-container{
  margin-top: calc(var(--index) * 5);
  height: 100px;
}

.button{
  transition: 0.8s;

  cursor: pointer;
  border: none;
  font-style: normal;
  font-size: calc(var(--index) * 1.5);
  font-weight: 400;
  padding: calc(var(--index) * 0.5);
  box-shadow: 
  0 0 15px 1px rgb(255, 255, 255);

  color: #FFFFFF;
  background: rgba(234, 232, 232, 0.25);
  border-radius: 60px;
  animation: animation-text 3s infinite;
}

.button:hover{
  transition: 0.8s;

  padding: calc(var(--index) * 1);
  background: rgba(230, 229, 229, 0.308);
}